<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body ng-controller="MainCtrl as main">
    <div class="container">
        <div class="row">
            <h1>Angular1 with ES2016 And Karma
                <button type="submit" class="pull-right btn btn-info" ng-click="main.reset()">Reset</button>
                <button type="submit" class="pull-right btn btn-default" style="margin-right: 10px;" ng-click="main.getCustomers()">Get Customers</button>

            </h1>

            <list-directive data='main.newUser' is-editable="main.IsEditable" add-user="main.addUser(main.newUser)" update-user="main.updateUser(main.newUser)">
                list directive comes here...
            </list-directive>
        </div>
        <br />
        <div class="row">
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="customer in main.customers">
                    <h4 class="list-group-item-heading">{{ customer.firstname }} {{ customer.lastName }}
                        <span class="pull-right label">
                            <button type="submit" class="btn btn-warning" ng-click="main.getCustomerById(customer)">Get Details</button>
                            <button type="submit" class="btn btn-danger"  ng-click="main.removeUser(customer)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </span>

                    </h4>
                    <p class="list-group-item-text">Mobile No : {{ customer.mobileNo }}</p>
                    <p class="list-group-item-text">Email : {{ customer.email }}</p>
                </a>
            </div>
        </div>

    </div>


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="app.bundle.js"></script>

</body>

</html>